body{background-color:#efefef}
.m-container{margin: 30px;}
.row{background-color:white}
.btn-success{float:right;margin-bottom: 15px;}
.alert-tip{padding: 6px;}
.btn-success-box{padding-right:0}
.media-object{width:42px;height: 42px}
.text-desc{font-size: 12px;font-weight: normal;color: #999}
.questionAuthor{color:#1b6d85;}
.gly-menu{color: #999;font-size: 13px}
.comment-ava{padding-top: 13px;}
.s-m-t-10{margin-top: 10px;}
.s-m-b-10{margin-bottom: 10px;}
.s-m-b-15{margin-bottom: 15px;}
.s-m-r-5{margin-right: 5px}
.s-m-t-0{margin-top:0}
.s-p-5{padding:5px}
.s-p-r-0{padding-right: 0}
.s-p-b-5{padding-bottom: 5px}
.s-menu{color: #999;font-size: 15px;}
.s-menu-icon{cursor: pointer}/*鼠标停留时光标变小手*/
.s-menu-icon:hover{color: #499ef3}
.s-b-b{border-bottom: 1px solid #eee;}