body{background-color:#efefef}
.m-container{margin: 30px;}
.row{background-color:white}
.btn-success{float:right;margin-bottom: 15px;}
.alert-tip{padding: 6px;}
.btn-success-box{padding-right:0}
.media-object{width:42px;height: 42px}
.text-desc{font-size: 12px;font-weight: normal;color: #999}
.questionAuthor{color:#1b6d85;}
.gly-menu{color: #999;font-size: 13px}