<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/profile.css"/>
    <link rel="stylesheet" href="/css/editormd.preview.min.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/demo.js"></script>
    <script src="/js/editormd.min.js"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
</head>
<body>
<div th:insert="~{navigation :: copy}"></div>
<div class="container-fluid m-container">
    <div class="row s-p-t-20">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--正文-->
            <h3><span th:text="${question.title}"></span></h3>
            <span class="text-desc">
                作者：<span th:text="${question.user.name}" class="questionAuthor"></span> |
                发布时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> |
                阅读数：<span th:text="${question.viewCount}"></span>
            </span>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <!--问题描述-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
                <textarea style="display:none;" th:text="${question.description}"></textarea>
            </div>
            <script type="text/javascript">
                $(function() {
                    editormd.markdownToHTML("question-view", {});
                });
            </script>

            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 s-m-b-10">
            <a th:href="@{'/publish/'+${question.id}}" class="gly-menu" th:if="${session.user!=null && session.user.id==question.creator}">
                <span class="glyphicon glyphicon-pencil gly-menu" aria-hidden="true"></span>
                编辑
            </a>

            <!--标签-->
            <div>
                <span class="label label-info s-m-r-5 s-f-12" th:each="tag:${question.tag.split(',')}">
                    <span class="glyphicon glyphicon-tags"></span>
                    <span class="label label-info s-f-12 s-p-tb-0" th:text="${tag}"></span>
                </span>
            </div>

            <!--回复列表-->
            <h4 class="s-m-t-30">
                <span th:text="${question.commentCount}"></span>个回复
            </h4>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 s-m-t-0">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 s-p-r-0" th:each="comment:${comments}">
                <div class="media s-m-b-15 s-b-b">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body comment-ava s-p-5" th:id="${'comment-body-'+comment.id}">
                        <h6 class="media-heading">
                            <span th:text="${comment.user.name}"></span>
                        </h6>
                        <div th:text="${comment.content}"></div>
                        <div class="s-menu s-m-t-10 s-p-b-5">
                            <span class="glyphicon glyphicon-thumbs-up s-m-r-5 s-menu-icon"></span>
                            <span class="glyphicon glyphicon-comment s-menu-icon" th:data-id="${comment.id}"
                                  onclick="collapseComments(this)">
                            </span>
                            <span th:text="${comment.commentCount}"></span>
                            <span class="pull-right" th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                        </div>

                        <!--二级评论-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 s-m-t-15 s-b s-b-r-5 s-p-t-15 s-m-b-15 collapse" th:id="${'comment-'+comment.id}">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" placeholder="评论一下..." th:id="${'input-'+comment.id}">
                                <button type="button" class="btn btn-success pull-right s-m-15" onclick="comment(this)" th:data-id="${comment.id}">评论</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--回复输入框-->
            <div id="comment_section">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 s-m-b-10">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" th:src="${session.user!=null?session.user.avatarUrl:'/images/default-avatar.png'}">
                            </a>
                        </div>
                        <div class="media-body comment-ava">
                            <h6 class="media-heading">
                                <span th:text="${session.user!=null?session.user.name:'未登录'}"></span>
                            </h6>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.id}">
                <textarea class="form-control s-m-b-10" rows="6" id="comment_content"></textarea>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-success-box">
                    <button type="button" class="btn btn-success" onclick="post()">回复</button>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">
                            <span th:text="${question.user.name}"></span>
                        </h6>
                    </div>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>

            <!--广告位-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>关注麻酱社区</h4>
                <img src="/images/ad.jpg" class="img-thumbnail ad">
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>


            <!--相关问题-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <ul class="s-p-0 related-ul">
                    <li th:each="related:${relatedQuestions}">
                        <a th:href="@{'/question/'+${related.id}}" th:text="${related.title}" class="text-d"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>